<app-panel-header></app-panel-header>

<div class="doctor-panel-container">
  <h2 >Doktor Paneli</h2>
  <p>Randevularınızı ve çalışma saatlerinizi görüntüleyin.</p>

  <div class="button-group">
    <button [ngClass]="{'active': showAppointmentList}" (click)="AppointmentOn()">Randevu Listele</button>
    <button [ngClass]="{'active': showHoursList}" (click)="HoursOn()">Çalışma Saati Görüntüle</button>
  </div>

  <div *ngIf="showAppointmentList ">
    <h4>Randevular</h4>
    <table>
      <thead>
        <tr>
          <th>Tarih</th>
          <th>Hasta Adı Soyadı</th>
          <th>Geçmiş mi?</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of appointments">
          <td>{{ appointment.appointmentDate| date:'dd/MM/yyyy HH:mm' }}</td>
          <td>{{ appointment.patientName }} {{ appointment.patientSurname }}</td>
          <td>{{ appointment.isPast ? 'Aktif Randevu' : 'Geçmiş Randevu' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

      <!-- Çalışma Saatleri Tablosu -->
  <div *ngIf="showHoursList ">
    <h4>Çalışma Saatleri</h4>
    <table>
      <thead>
        <tr>
          <th>Tarih</th>
          <th>Başlangıç Saati</th>
          <th>Bitiş Saati</th>
          <th>Ara</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let workingHour of workingHours">
          <td>{{ workingHour.date | date:'dd/MM/yyyy' }}</td>
          <td>{{ workingHour.startTime }}</td>
          <td>{{ workingHour.endTime }}</td>
          <td>
            <div *ngFor="let additionalHour of workingHour.additionalHours">
              {{ additionalHour.startTime }} - {{ additionalHour.endTime }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <br>

    <div class="button-group">
      <button [ngClass]="{'active': showAddHours}" (click)="AddHoursOn()">Ekle</button>
      <button [ngClass]="{'active': showUpdateHours}" (click)="UpdateHoursOn()">Güncelle</button>
      <button [ngClass]="{'active': showDeleteHours}" (click)="DeleteHoursOn()">Sil</button>
    </div>
   
    <div *ngIf="showAddHours ">
      <h4>Saat Ekle</h4>

      <form (ngSubmit)="onAddHours()">
        <label for="date">Tarih:</label>
        <input id="date" type="date" [(ngModel)]="newWorkingHour.date" name="date" required>

        <label for="startTime">Başlangıç Saati:</label>
        <input id="startTime" type="time" [(ngModel)]="newWorkingHour.startTime" name="startTime" required>

        <label for="endTime">Bitiş Saati:</label>
        <input id="endTime" type="time" [(ngModel)]="newWorkingHour.endTime" name="endTime" required>

        <label for="additionalHours">Ek Saatler:</label>
        <div *ngFor="let additionalHour of newWorkingHour.additionalHours; let i = index">
          <input type="time" [(ngModel)]="additionalHour.startTime" name="additionalStartTime{{i}}" placeholder="Başlangıç Saati">
          <input type="time" [(ngModel)]="additionalHour.endTime" name="additionalEndTime{{i}}" placeholder="Bitiş Saati">
          <button type="button" (click)="removeAdditionalHour(i)">Kaldır</button>
        </div>
        <button type="button" (click)="addAdditionalHour()">Ek Saat Ekle</button>
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
        <div *ngIf="message" class="alert alert-primary">
          {{message}}
        </div>
        <button type="submit">Kaydet</button>
      </form>
    </div>

    <div *ngIf="showUpdateHours">
      <h4>Çalışma Saatlerini Güncelle</h4>
      
      <label for="updateHoursSelect">Güncellemek İstediğiniz Çalışma Saatini Seçin:</label>
      <select id="updateHoursSelect" [(ngModel)]="selectedUpdateHourId" (change)="onHourSelectionChange($event)">
        <option *ngFor="let workingHour of workingHours" [value]="workingHour.id">
          {{ workingHour.date }} - {{ workingHour.startTime }} - {{ workingHour.endTime }}
        </option>
      </select>
    
      <div *ngIf="selectedUpdateHourId">
        <label for="updateDate">Yeni Tarih:</label>
        <input type="date" id="updateDate" [(ngModel)]="newWorkingHour.date">
    
        <label for="updateStartTime">Yeni Başlangıç Saati:</label>
        <input type="time" id="updateStartTime" [(ngModel)]="newWorkingHour.startTime">
    
        <label for="updateEndTime">Yeni Bitiş Saati:</label>
        <input type="time" id="updateEndTime" [(ngModel)]="newWorkingHour.endTime">
        
        <h5>Ek Saatler:</h5>
        <div *ngFor="let hour of newWorkingHour.additionalHours; let i = index">
          <label>Ek Başlangıç Saati:</label>
          <input type="time" [(ngModel)]="newWorkingHour.additionalHours[i].startTime">
    
          <label>Ek Bitiş Saati:</label>
          <input type="time" [(ngModel)]="newWorkingHour.additionalHours[i].endTime">
          
          <button (click)="removeAdditionalHour(i)">Sil</button>
        </div>
        <button (click)="addAdditionalHour()">Ek Saat Ekle</button>
    
        <button (click)="updateWorkingHours()">Güncelle</button>
    
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
        <div *ngIf="message" class="alert alert-primary">
          {{message}}
        </div>
      </div>
    </div> 

      <div *ngIf="showDeleteHours">
        <h4>Saat Sil</h4>

      <label for="hoursSelect">Silmek İstediğiniz Çalışma Saatini Seçin:</label>
      <select id="hoursSelect" [(ngModel)]="selectedHourId">
        <option *ngFor="let workingHour of workingHoursList" [value]="workingHour.id">
          {{ workingHour.date }}
        </option>
      </select>
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>
      <div *ngIf="message" class="alert alert-primary">
        {{message}}
      </div>
      <button (click)="deleteWorkingHours()">Kaldır</button>
    
      </div>
  
</div>
