<app-panel-header></app-panel-header>

<div class="doctor-panel-container">
  <div class="doctor-panel-header">
    <h2>Doktor Paneli</h2>
    <p class="user-info">{{currentUser.name}} {{currentUser?.surname}}</p>
    <p class="specialty-info">Alan: {{currentUser.specialty.name}}</p>
    <br>
    <p class="description">Randevularınızı ve çalışma saatlerinizi güncelleyin.</p>
  </div>
  
  <div class="button-group">
    <button [ngClass]="{'active': showAppointmentList}" (click)="AppointmentOn()">Randevu Listele</button>
    <button [ngClass]="{'active': showHoursList}" (click)="HoursOn()">Çalışma Saati Görüntüle</button>
  </div>

  <div *ngIf="showAppointmentList ">
    <h4>Randevular</h4>
    <table>
      <thead>
        <tr>
          <th>Tarih</th>
          <th>Hasta Adı Soyadı</th>
          <th>Geçmiş mi?</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of appointments">
          <td>{{ appointment.appointmentDate| date:'dd/MM/yyyy HH:mm' }}</td>
          <td>{{ appointment.patientName }} {{ appointment.patientSurname }}</td>
          <td>{{ appointment.isPast ? 'Aktif Randevu' : 'Geçmiş Randevu' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

      <!-- Çalışma Saatleri Tablosu -->
  <div *ngIf="showHoursList ">
    <h4>Çalışma Saatleri</h4>
    <table class="doctor-table">
      <thead>
        <tr>
          <th>Tarih</th>
          <th *ngFor="let workingHour of workingHours">{{ workingHour.date | date:'EEEE, MMMM d, y' }}</th>
        </tr>
      </thead>
      <tbody>
        <!-- Saat aralığını başlatmak için döngü -->
        <tr *ngFor="let hour of hoursRange(8, 18)">
          <td>{{ hour }}:00</td>
          <!-- Her bir doktor çalışma saatini kontrol eder -->
          <td *ngFor="let workingHour of workingHours" [ngClass]="getHourClass(hour, workingHour)">
            {{ hour }}:00
          </td>
        </tr>
      </tbody>
    </table>
    
    <br>

    <div class="button-group">
      <button [ngClass]="{'active': showAddHours}" (click)="AddHoursOn()">Ekle</button>
      <button [ngClass]="{'active': showUpdateHours}" (click)="UpdateHoursOn()">Güncelle</button>
      <button [ngClass]="{'active': showDeleteHours}" (click)="DeleteHoursOn()">Sil</button>
    </div>
   
    <div *ngIf="showAddHours ">
      <h4>Saat Ekle</h4>

      <form (ngSubmit)="onAddHours()">
        <label for="date">Tarih:</label>
        <input id="date" type="date" [(ngModel)]="newWorkingHour.date" name="date" required>

        <label for="startTime">Başlangıç Saati:</label>
        <input id="startTime" type="time" [(ngModel)]="newWorkingHour.startTime" name="startTime" required>

        <label for="endTime">Bitiş Saati:</label>
        <input id="endTime" type="time" [(ngModel)]="newWorkingHour.endTime" name="endTime" required>

        <label for="additionalHours">Ara:</label>
        <div *ngFor="let additionalHour of newWorkingHour.additionalHours; let i = index">
          <label>Ara Başlangıç Saati:</label>
          <input type="time" [(ngModel)]="additionalHour.startTime" name="additionalStartTime{{i}}" placeholder="Başlangıç Saati">
          <label>Ara Bitiş Saati:</label>
          <input type="time" [(ngModel)]="additionalHour.endTime" name="additionalEndTime{{i}}" placeholder="Bitiş Saati">
          <button type="button" (click)="removeAdditionalHour(i)">Ara Sil</button>
        </div>
        <button type="button" (click)="addAdditionalHour()">Ara Ekle</button><br>
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
        <div *ngIf="message" class="alert alert-primary">
          {{message}}
        </div>
        <button type="submit">Kaydet</button>
      </form>
    </div>

    <div *ngIf="showUpdateHours">
      <h4>Çalışma Saatlerini Güncelle</h4>
      
      <label for="updateHoursSelect">Güncellemek İstediğiniz Çalışma Saatini Seçin:</label>
      <select id="updateHoursSelect" [(ngModel)]="selectedUpdateHourId" (change)="onHourSelectionChange($event)">
        <option *ngFor="let workingHour of workingHours" [value]="workingHour.id">
          {{ workingHour.date }} - {{ workingHour.startTime }} - {{ workingHour.endTime }}
        </option>
      </select>
    
      <div *ngIf="selectedUpdateHourId">
        <label for="updateDate">Yeni Tarih:</label>
        <input type="date" id="updateDate" [(ngModel)]="newWorkingHour.date">
    
        <label for="updateStartTime">Yeni Başlangıç Saati:</label>
        <input type="time" id="updateStartTime" [(ngModel)]="newWorkingHour.startTime">
    
        <label for="updateEndTime">Yeni Bitiş Saati:</label>
        <input type="time" id="updateEndTime" [(ngModel)]="newWorkingHour.endTime">

        <label for="additionalHours">Ara:</label>
        <div *ngFor="let hour of newWorkingHour.additionalHours; let i = index">
          <label>Ara Başlangıç Saati:</label>
          <input type="time" [(ngModel)]="newWorkingHour.additionalHours[i].startTime">
    
          <label>Ara Bitiş Saati:</label>
          <input type="time" [(ngModel)]="newWorkingHour.additionalHours[i].endTime">
          
          <button (click)="removeAdditionalHour(i)">Ara Sil</button>
        </div>
        <button (click)="addAdditionalHour()">Ara Ekle</button><br>
        
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
        <div *ngIf="message" class="alert alert-primary">
          {{message}}
        </div>
        <button (click)="updateWorkingHours()">Güncelle</button>
    
      </div>
    </div> 

      <div *ngIf="showDeleteHours">
        <h4>Saat Sil</h4>

      <label for="hoursSelect">Silmek İstediğiniz Çalışma Saatini Seçin:</label>
      <select id="hoursSelect" [(ngModel)]="selectedHourId">
        <option *ngFor="let workingHour of workingHoursList" [value]="workingHour.id">
          {{ workingHour.date }}
        </option>
      </select>
      <br>
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>
      <div *ngIf="message" class="alert alert-primary">
        {{message}}
      </div>
      <br>
      <button (click)="deleteWorkingHours()">Kaldır</button>
    
      </div>
  
</div>
