<header>
   <mat-toolbar class="header">
        <span>Ranka Hastanesi</span>
        <span class="example-spacer"></span>
        <nav class="nav">
            <ul class="header-menu">
              <li><a href="http://localhost:4200" >Anasayfa</a></li>
              <li>
                <a href="#" >Randevu</a>
                <ul>
                  <li>
                    <a href="http://localhost:4200/randevu-al">Randevu Al</a>
                  </li>
                  <li>
                    <a href="http://localhost:4200/randevu-bul" >Randevu Bul</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" >Kullanıcı</a>
                <ul>
                    <li><a routerLink="/" >Kullanıcı Girişi</a></li>
                    <li>
                      <a routerLink="/" >Kullanıcı Kaydı</a>
                    </li>
                  </ul>
            </li>
            </ul>
          </nav>
   </mat-toolbar>
</header>
