.header {
  padding: 40px;
  background-color: #0b3765d1; /* Daha net bir arka plan rengi */
  color: #fff; /* Yazı rengi beyaz */
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Hafif gölge efekti */
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.example-spacer {
  flex: 1;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav ul li {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
}

.logout-button {
  margin-left: 15px;
  padding: 10px 15px;
  background-color: #ff4d4f; /* Çıkış butonu için kırmızı renk */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #e60000; /* Hover rengini koyulaştırma */
}
